streamlit
pandas
streamlit_option_menu
pdfminer.six 
nltk>=3.0.2
gensim 
torch
transformers 
bert-extractive-summarizer==0.5.0
wordcloud 
sumy==0.11.0 
matplotlib 
pillow 
python-docx 
rouge_score 
bert-score 